.heading1 {
  color: white;
}
.bodycolor {
  background-color: black;
}
.heading3 {
  color: #fff4a3;
}
.buttonLeft {
  color:white;
  background-color: green;
  border-radius: 60px;
  padding: 10px 10px;
}
.buttonRight {
  color: white;
  background-color: blueviolet;
  border-radius: 60px;
  padding: 10px 10px;
}
section:nth-child(2) {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    
}


